backports.entry-points-selectable==1.1.1
certifi==2022.6.15
colorama==0.4.4
distlib==0.3.4
filelock==3.4.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pipenv==2022.7.4
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
toml==0.10.2
tox==3.24.4
virtualenv==20.10.0
virtualenv-clone==0.5.7
