apache-beam==2.46.0
astroid==2.15.1
asttokens==2.2.1
backcall==0.2.0
black==23.3.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.3
crcmod==1.7
debugpy==1.6.6
decorator==5.1.1
dill==0.3.1.1
docopt==0.6.2
executing==1.2.0
facets-overview==1.1.0
fastavro==1.7.3
fasteners==0.18
google-api-core==2.11.0
google-auth==2.17.1
google-cloud-dataproc==3.1.1
googleapis-common-protos==1.59.0
grpcio==1.53.0
grpcio-status==1.48.2
hartreetest @ file:///C:/Projects_KMA/python.projects/hartree_test
hdfs==2.7.0
httplib2==0.21.0
idna==3.4
ipykernel==6.22.0
ipython==8.12.0
ipywidgets==8.0.6
isort==5.12.0
jedi==0.18.2
jupyter_client==8.0.2
jupyter_core==5.3.0
jupyterlab-widgets==3.0.7
lazy-object-proxy==1.9.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
nest-asyncio==1.5.6
numpy==1.24.2
objsize==0.6.1
orjson==3.8.9
packaging==23.0
pandas==1.5.3
parso==0.8.3
pathspec==0.11.1
pickleshare==0.7.5
platformdirs==3.2.0
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.2
Pygments==2.14.0
pylint==2.17.1
pymongo==3.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
pyzmq==25.0.2
regex==2023.3.23
requests==2.28.2
rsa==4.9
six==1.16.0
stack-data==0.6.2
timeloop==1.0.2
tomli==2.0.1
tomlkit==0.11.7
tornado==6.2
traitlets==5.9.0
typing_extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.6
widgetsnbextension==4.0.7
wrapt==1.15.0
zstandard==0.20.0
